*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

.pre-headline{
    
}

.headline{
    padding: 30px;
    width: 100vw;
    display: flex;
    margin: center;
    justify-content: space-around;
    background-color: rgb(70, 70, 206);
}

.text-headline{
    width: 35%;
    font-size: 10px;
}
.text-headline input, button{
    width: 100%;
    margin-top: 10px;
    height: 40px;
}
.text-headline button{
    background-color: crimson;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-bottom: 15px;
}
.text-headline input{
    text-align: center;
    color: white;
}
.photo-headline{
    display: flex;
    align-items: center;
}

.photo-headline img{
    height: 100%;
}
/* ./Headline */

.separation{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    width: 100vw;
    display: flex;
    margin: center;
    justify-content: space-around;
    font-size: 15px;
    
}
.separation img{
    width: 50px;
    height: 50px;
    border-right: 3px solid #538DF5;

}
.separation--1{
    display: flex;
    padding-right: 15px;
}
.separation--2{
    display: flex;
}
.separation--3{
    display: flex;
}


.bg{
    background-color: #46E0F5;
}

/*  */



.apresentation{
    padding: 30px;
    width: 100vw;
    display: flex;
    margin: center;
    justify-content: space-around;
    background-color: rgb(70, 70, 206);
}

.text-apresentation{
    width: 35%;
    font-size: 10px;
    border-right: 3px solid #538DF5;
    
}
.text-apresentation p{
    margin-top: 10px;
    font-size: 16px;
}

.photo-apresentation{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.photo-apresentation p{
    width: 40%;
}

.photo-apresentation img{
    height: 150px;
    width: 150px;
}