*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.HTML{
    color: #DD4B25;
    
}
.CSS{
    color: #026EB4;
}
.JS{
    color: #EFD81D;
}
.pre-headline{
    height: 50vh;
    background-color: #04B2D9;
    display: flex;
    width: 100vw;
    justify-content: center;

    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    color: rgb(255, 255, 255);
}

.headline{
    padding: 25px;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.text-headline{
    width: 35%;
    font-size: 15px;  
    
}
.text-headline input, button{
    width: 100%;
    margin-top: 10px;
    height: 40px;
}
.text-headline button{
    background-color: #F21905;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;

}
.text-headline input{
    text-align: center;
    color: white;
    margin-top: 25px;
    font-size: 18px;
    
}

.photo-headline{
}

.photo-headline img{
    width: 509px;
    margin: 15px;
    /* border: 5px solid #ffffff ; */
    
}

/* ./Headline */
.bg{
    background-color: #066d85;
    color: rgb(235, 235, 235);
    display: flex;
    height: 170px;
    width: 100vw;
    justify-content: center;
    box-shadow: 0px 0px 10px  rgb(104, 104, 104) inset;
}

.separation{
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    align-items: center;
    
}
.separation img{
    width: 55px;
    
    margin-right: 10px;
    
    
}
.separation--1{
    display: flex;
    padding-right: 10px;
    border-right: 3px solid #F21905;
    align-items: center;
}
.separation--2{
    display: flex;
    padding-left: 15px;
    padding-right: 5px;
    align-items: center;
    border-right: 3px solid #F21905;
}
.separation--3{
    padding-left: 15px;
    display: flex;
    align-items: center;

}

/*  */

.pre-apresentation{
    width: 100vw;
    background-color: rgba(212, 212, 212, 0.514);
    display: flex;
    justify-content: center;
}

.apresentation{
    padding: 45px;
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.text-apresentation{
    border-right: 3px solid #538DF5;
    padding-right: 15px;
    font-size: 10px;
    
    
}
.text-apresentation p{
    margin-top: 10px;
    font-size: 16px;
}

.photo-apresentation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-apresentation .container{
    width: 80%;
    margin-left: 25px;
}
.photo-apresentation p{
    width: 80%;
    text-align: justify;
    font-size: 16px;
    margin-left: 25px;
}

.photo-apresentation img{
    height: 150px;
    width: 150px;
}


/* Footer */
.pre-footer{
    width: 100vw;
    background-color: #066d85;
    padding-top: 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.terms{
    display: flex;
}

.terms h4{
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.terms h4:first-child{
    border-right: 3px solid #850606;
}
.copyright{
    margin-bottom: 15px;
    
}